<h1>Enter information about your parcel to find out cost to ship</h1>

<form action='/parcels_output'>
  <div class="form-group">
    <label for="height">Height</label>
    <input id="height" name="height" class="form-control">
  </div>
  <div class="form-group">
    <label for="width">Width</label>
    <input id="width" name="width" class="form-control">
  </div>
  <div class="form-group">
    <label for="weight">Weight</label>
    <input id="weight" name="weight" class="form-control">
  </div>
  <div class="form-group">
    <label for="distance">Distance</label>
    <input id="distance" name="distance" class="form-control">
  </div>
  <div>
    <h3>Shipping Speed</h3>
    <label>
      <input type="radio" name="speed" value="1" checked> 1 Day
    </label>
    <br>
    <label>
      <input type="radio" name="speed" value="5" checked> 5 Days
    </label>
    <br>
    <label>
      <input type="radio" name="speed" value="14" checked> 14 Days
    </label>
  </div>
  <div class="form-group">
    <h3>For gift wrapping, enter depth dimension</h3>
    <label for="depth">Depth</label>
    <input id="depth" name="depth" class="form-control">
  </div>
  <button type="submit" class="btn">See Estimate</button>
</form>
